<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Courses - list</title>
</head>
<body>
    <h1>Courses</h1>
    <p>
        <a href="{% url 'lab5_app2:course_create' %}">Create a Course</a>
    </p>

    <ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'lab5_app2:course_detail' id=course.course_id %}">
                Course #{{ course.course_id }} - {{ course.course_name }} ({{ course.price }}) - {{ course.duration }}h
            </a>

            <form method="post" action="{% url 'lab5_app2:course_delete' id=course.course_id %}" style="display:inline">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% empty %}
        <li>No courses.</li>
    {% endfor %}
    </ul>
</body>
</html>