<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Images - list</title>
</head>
<body>
    <h1>Images</h1>
    <p><a href="{% url 'lab5_app:product_list' %}">Products</a> | <a href="{% url 'lab5_app:review_list' %}">Reviews</a></p>

    <ul>
    {% for image in images %}
        <li>
            <a href="{% url 'lab5_app:image_detail' id=image.id %}">
                Image #{{ image.id }} - {{ image.url }}
            </a>
        </li>
    {% empty %}
        <li>No images.</li>
    {% endfor %}
    </ul>
</body>
</html>