<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OrderContents - list</title>
</head>
<body>
    <h1>OrderContents</h1>
    <p><a href="{% url 'lab5_app:order_list' %}">Orders</a> | <a href="{% url 'lab5_app:product_list' %}">Products</a></p>

    <ul>
    {% for item in items %}
        <li>
            <a href="{% url 'lab5_app:ordercontent_detail' id=item.id %}">
                OC #{{ item.id }} - order {{ item.order_id }}, product {{ item.product_id }} (count: {{ item.count }})
            </a>
        </li>
    {% empty %}
        <li>No order contents.</li>
    {% endfor %}
    </ul>
</body>
</html>