<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delete Review #{{ review.id }}</title>
</head>
<body>
    <h1>Delete Review #{{ review.id }}</h1>
    <p>Are you sure you want to delete the review for "{{ review.product.name }}" by {{ review.user.username }}?</p>

    <form method="post" action="{% url 'lab5_app:review_delete' id=review.id %}">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'lab5_app:review_detail' id=review.id %}">Cancel</a>
    </form>
</body>
</html>